@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
    --light-grey: #EAEAEA;
    --light-grey-2: #EBEBEB;
    --black: #111;
    --bright-black: #222;

    --facebook: #4267B2;
    --twitter: #1DA1F2;
    --instagram: #405DE6;
    --github: #4078c0;
    --linkedin: #0077b5;

    --rounded: 50%;

    --blue-1: #4285f4;
    --blue-2: #357ae8;

    --open-sans: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: var(--open-sans);

    background-color: var(--white);
    max-width: 100vw;
    height: 100vh;
}
